# ========== Android Studio / IntelliJ ==========
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# ========== Gradle ==========
.gradle/
build/
.externalNativeBuild/
.cxx/
captures/

# ========== macOS ==========
.DS_Store

# ========== Configuration machine locale ==========
local.properties

# ========== Environnements / Secrets (si ajout futur) ==========
*.env
.env.*
secrets.properties

# ========== Kotlin / Jetpack Compose (optionnel) ==========
.kotlinc/

# ========== Logs (optionnel) ==========
*.log
crash_log.txt
